body {
    display: flex;
    flex-direction: column;
}

.ui.text.container {
    margin-top: 7em;
}

.main.container {
    margin-top: 7em;
    flex-grow: 1;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.blockid {
    display: table-cell;
    margin: auto;
}

.block-table {
    margin-top: 1em;
}

div.block-table div.spacer-row:last-child {
    display: none;
}

td {
    vertical-align: middle;
}

div.header-row {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-right: 1px solid rgba(34, 36, 38, 0.1);
    display: flex;
}

div.block-row {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-right: 1px solid rgba(34, 36, 38, 0.1);
    display: flex;
    animation-name: row-slide-in;
    animation-duration: 2s;
    overflow-y: hidden;
}

@keyframes row-slide-in {
    0% { max-height: 0; }
    100% { max-height: 200px; }
}

div.block-row:last-child {
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.block-height {
    flex: 0 0 80px;
}

span.block-height {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    padding: 5px;
    background: rgba(0,0,0,.03);
    font-weight: bold;
    border-left: 0!important;
}

span.table-header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    width: 104px;
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

span.summary-details {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    width: 104px;
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    padding: 0;
    margin: 0;
}

span.hovered-block {
    background-color: rgba(0,0,0,0.05);
}

div.summary-inner {
    padding: 5px;
    animation-name: my-block-fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes my-block-fade-in {
    0% { background-color:  #ffffe0; }
    100% { background-color: white; }
}

.blockshape {
    background: #e0e1e2 none;
    padding: 5px;
}

.custombreak {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.search__dropdown {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    -moz-border-top-right-radius: 0!important;
    -moz-border-bottom-right-radius: 0!important;
    -webkit-border-top-right-radius: 0!important;
    -webkit-border-bottom-right-radius: 0!important;

    border-right: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

.pagination .item {
    cursor: pointer;
}

.pagination .disabled.item {
    cursor: auto;
}

.ind-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ind-box {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background: #888;
}

.ind-box.selected {
    border: 2px solid red;
}
